.appLink {
    text-decoration: none!important;
}

.appCard {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 16px;
    padding: 1.25vw;
    transition: 0.5s;
}

.appCard:hover {
    transform: scale(1.06);
}
.appImg {
    
}

.version {
    font-family: monospace;
    font-size: 1.25vw!important;
}
.appName {
    font-size: 4.5rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

body {
    background-color: black!important;
}